@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins-medium", sans-serif;
  transition: all 0.5s ease;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
  font-family: "poppins-bold";
}

button {
  border-radius: 8px;
  font-family: inherit;
  cursor: pointer;
}


.test, .darkmode {
  background-color: #1e1e1e;
  color: white;
}


@font-face {
  font-family: "poppins-bold";
  src: url(./fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "poppins-medium";
  src: url(./fonts/Poppins-Medium.ttf);
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
